.our-work {
  padding-top: 0;
  --card-item: 3;
  @media screen and (max-width: 1199px) {
    display: none;
  }
  .our-work__tittle {
    font-family: Roboto;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-top: 0;
    margin-bottom: 50px;
  }

  .our-work__item {
    position: relative;
  }

  .our-work__list-images {
    display: flex;
    flex-wrap: wrap;
  }

  .our-work__text {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    bottom: 0px;
  }

  .our-work__text-text {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #ffffff;
  }
}
