.social__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  background-color: rgba(255, 255, 255, 0.1);

  transition-property: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: #fff;
    background-color: var(--accent-color);
  }
}

.footer .social__link {
  fill: var(--primery-white-color);
}
.social {
  display: flex;

  justify-content: center;
}
.social__list:not(:last-child) {
  margin-right: 10px;
}
